@CHARSET "UTF-8";

body{
	margin:1em;
}

td{
	vertical-align: middle !important;
	text-align: center;	
}

#left_params{
	float:left;
	position:relative;
	width:33.3%;
	height:100px;
	padding:5px;
}

#left_params_ota{
	float:left;
	position:relative;
	width:50%;
	height:100px;
}

#left_params_lang{
	float:left;
	position:relative;
	width:50%;
	height:100px;
	padding-left:5px;
}

#center_params{
	float:left;
	position:relative;
	width:33.3%;
	height:100px;
	padding:5px;
}

#right_params{
	float:left;
	position:relative;
	width:33.3%;
	height:100px;
	padding:5px;
}

#sub_left_params{
	float:left;
	position:relative;
	height:100px;
	width:50%;
	padding:5px;
	
}

#sub_right_params{
	float:left;
	position:relative;
	height:100px;
	width:50%;
	padding:5px;
	padding-right:0px;
}

#filters{
	float:left;
	position:relative;
	width:100%;
	padding:5px;
	margin-bottom:20px;
}

#results{
	float:left;
	position:relative;
	width:100%;
	padding:5px;
}

#section1{
	float:left;
	position:relative;
	width:100%;
	display:block;
}

#section2{
	float:left;
	position:relative;
	width:100%;
}

#section1_left{
	float:left;
	position:relative;
	width:30%;
	padding:5px;
}

#section1_right{
	float:left;
	position:relative;
	width:70%;
	padding:5px;
}

.panel-heading-left{
	position:relative;
	float:left;
}

.panel-heading-right{
	position:relative;
	float:right;
}

#modalbodydata{
	position:relative;
	float:left;
	width:100%;
	height:auto;
}

#modalbodyname{
	position:relative;
	float:left;
	width:50%;
	height:auto;
	margin:2px;
}

#modalbodycustomer{
	position:relative;
	float:left;
	width:30%;
	height:auto;
	margin:2px;
}

#modalbodycurrency{
	position:relative;
	float:left;
	width:17%;
	height:auto;
	margin-left:2px;
	margin-top:2px;
	margin-right:2px;
}